.admin_product {
    .title{
        color: #000;

    }

    .btn_add {
        height: 40px;
        border-radius: 6px;
        margin-bottom: 20px;
    }
    table {
        margin-top: 30px;
    }
}